{% extends 'Layouts/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block titre_principal %}
    Bienvenue à l'accueil
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}