<div id="bandeau">
    {{ render(controller('App\\Controller\\GeneralController::bandeauAction')) }}
</div>
<div id="menu">
    {{ render(controller('App\\Controller\\GeneralController::menuAction')) }}
</div>
