{% block titre_principal%}Authentification{% endblock %}

{% block vue %}

    <table>
        <thead>
            <tr><th>Authentificatiion</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Identifiant</td>
                <td></td>
            </tr>
            <tr>
                <td>Mod de passe</td>
                <td></td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path("utilisateur_creation_compte") }}">Créer un compte</a>

{% endblock %}